// Place all the styles related to the declarations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#earth_div{
  // background-image: asset-url('SNice.svg');
  top: 0;
  right: 0;
  bottom: 10%;
  left: 0;
  // background-color: #000; position: absolute !important;
  position: absolute !important;
}

#create_declaration {
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10%;
  background-color: white;
  cursor: pointer;
  text-align: center;
  font-size: 30px;
  color: red;
}

$icon-size: 20px;
.we-pm-icon {
  background-image: asset-url('SNice.svg') !important;
  background-size: 100% !important;
  width: $icon-size !important;
  height: $icon-size !important;
  margin-top: -$icon-size !important;
  margin-left: -$icon-size / 2 !important;
  border-radius: 20px !important;
}

.list-countries {
  float: left;
  color: red;
}
.camera {
  position: absolute;
  border: 10px solid black;
  box-shadow: 2px 2px 3px black;
  width:320px;
  height:240px;
  right:0;
  bottom:0;
}

#photo {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width:320px;
  height:240px;
  right:0;
  bottom:0;
}

#canvas {
  display:none;
  right:0;
  bottom:0;
}

.camera {
  width: 340px;
  display:inline-block;
}

.output {
  width: 340px;
  display:inline-block;
  right:0;
  bottom:0;
}

#startbutton {
  display:block;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  bottom:32px;
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1.0);
}

.contentarea {
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  position: absolute;
  right: 0;
  top: 0;
}